body{
    background: linear-gradient(90deg,black,white,grey);
}
#face{
    background: linear-gradient(rgb(201, 201, 21),rgb(211, 185, 39)) ;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 8px 5px 4px rgb(48, 46, 46);
    margin:auto;
    margin-top:220px;
  

}
#leye{
    background: rgb(201, 115, 18);
    height: 10px;
    width: 40px;
    border-radius: 0%;
    margin-top: 14px;
    box-shadow:1px 2px 2px rgb(46, 45, 45);
    
}
#reye{
    background: rgb(201, 115, 18);
    height: 10px;
    width: 40px;
    border-radius: 0%;
    margin-top: 14px;
    box-shadow: 2px 2px 2px rgb(43, 42, 42);
    

}
#eyes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 77px;
}
#mouth{
    background:  rgb(201, 115, 18);
    height: 15px;
    width: 100px;
    margin-top: 65px;
    margin-left: 79px;
    border: 0px solid black;
    margin-right: 10px;
    box-shadow: 1px 1px 2px black;
    
}